.page-footer
  margin-top: auto

  &__inner
    display: flex
    justify-content: space-between
    margin-left: 64px
    margin-right: 64px
    border-top: 1px solid #E0E3EE
    padding-top: 30px
    padding-bottom: 30px

    +mw(1500)
      max-width: 1115px
      margin-left: auto
      margin-right: auto
      padding-left: 15px
      padding-right: 15px

  &__copy
    font-size: 14px
    color: #060606
    font-weight: 500

  &__portal
    font-size: 14px
    color: #060606
    opacity: 0.5

  &__anonim-link
    font-size: 14px
    color: #060606
    font-weight: 500
