.history

  &__img-wrap
    width: 100%
    margin-bottom: 55px
    padding-top: 60%
    position: relative

  &__img
    position: absolute
    height: 100%
    width: 100%
    left: 0
    top: 0

  &__text
    & + div
      margin-top: 30px

  &__text--title
    font-weight: 600
