
.company

  & .main-tabs__link

    +mw(600)
      // background-size: contain

  &__inner

  &__title
    +vh()

  &__main-tabs

  &__img-wrap
    // width: 100%
    // height: 80px
    // display: flex
    // justify-content: center
    // align-items: center
    // border: 1px solid #E0E3EE
    // border-radius: 5px 5px 0 0
    // border-bottom: none

  &__img
    // width: 165px
    // height: 30px

.main-tabs

  &__list
    height: 80px
    display: flex
    justify-content: space-between
    border: 1px solid #E0E3EE
    border-radius: 0 0 5px 5px

    +mw(600)
      // flex-wrap: wrap
      // max-height: 0
      // overflow: hidden

    & .main-tabs__link

  &__item
    width: calc(100% / 7)

    +mw(600)
      width: calc( 100% / 3 )
      border: 1px solid #E0E3EE
      border-left: none

      &:nth-child(3n+3)
        border-right: none

      &:nth-child(n+4)
        border-top: none

    & + li
      border-left: 1px solid #E0E3EE

      +mw(600)
        border-left: none

  &__link
    background-repeat: no-repeat
    display: block
    height: 100%
    width: 100%
    background-position: center center
    transition: 0.2s

    +mw(600)
      min-height: 78px
      height: 100%

    &:hover
      background-color: #fff

.sub-tabs

  &__accordion
    background: #FFFFFF
    border: 1px solid #E0E3EE
    border-radius: 5px

    & .sub-tabs__img-wrap

      +mw(600)
        background-size: contain
        // max-width: 45px
        margin-right: 15px

    & +div
      margin-top: 20px

  &__title
    font-weight: 600
    margin-right: auto
    max-width: 180px

    +mw(600)
      max-width: 180px

  &__head
    display: flex
    align-items: center
    justify-content: space-between
    cursor: pointer

  &__content
    display: flex
    flex-wrap: wrap

  &__img-wrap
    width: 86px
    height: 48px
    background-repeat: no-repeat
    background-position: 0 center
    order: -1

    &.image-jaguar
      transform: translateX(-10px)

  &__arr-wrap
    width: 20px
    height: 20px
    background-image: url(/img/svg/arr.svg)
    transition: 0.4s

  &__man-wrap
    width: 80px
    height: 40px

    +mw(1250)
      margin-right: 20px

    +mw(768)
      display: none

  &__man-img

    & + img
      margin-left: -20px

  &__info
    margin-left: 20px
    margin-right: 50px
    font-weight: 500
    font-size: 0.875rem
    color: #B0B3C6

    +mw(1250)
      display: none

.open

  & .sub-tabs__arr-wrap
    transform: rotate(90deg)

.private-card

  &--structure
    width: calc(100% / 3)
    border-width: 0.5px

    +mw(600)
      width: 100%
      margin-bottom: 20px

    &:hover
      background-color: #F7F7FA

.image-jaguar
  background-size: 86px 48px
  background-image: url(/img/jaguar.png)

.image-land-rover
  background-size: 65px 32px
  background-image: url(/img/land-rover.png)

.image-ford
  background-size: 75px 28px
  background-image: url(/img/ford.png)

.image-mazda
  background-size: 47px 39px
  background-image: url(/img/mazda.png)

.image-volvo
  background-size: 40px 40px
  background-image: url(/img/volvo.png)

.image-merseded
  background-size: 43px 40px
  background-image: url(/img/merseded.png)

.image-porsche
  background-size: 31px 40px
  background-image: url(/img/porsche.png)

.r-tabs

  & .main-tabs__list
    margin-bottom: 20px

    +mw(768)
      display: flex
      // height: 50px
      // flex-wrap: wrap

  & .main-tabs__content
    padding: 0

  & .r-tabs-state-active

    & .main-tabs__link
      background-color: #fff

[data-accordion]>[data-control]:after
  background-image: none

[data-accordion] [data-control]
  padding-left: 30px
  padding-right: 30px
  padding-top: 15px
  padding-bottom: 16px
  border-bottom: none

  +mw(600)
    padding-left: 15px
    padding-right: 15px

.brand-tab
  width: 100%
  height: 80px
  display: flex
  justify-content: center
  align-items: center
  border: 1px solid #E0E3EE
  border-radius: 5px 5px 0 0
  border-bottom: none

  &__img
    width: 165px
    height: 30px

  +mw(600)
    position: relative
    border-radius: 5px
    border-bottom: 1px solid #e0e3ee

    &::before
      content: ""
      position: absolute
      width: 20px
      height: 20px
      background-image: url(/img/svg/arr.svg)
      top: 50%
      transform: translateY(-50%)
      right: 15px

    &--active
      border-radius: 5px 5px 0 0
      border-bottom: none

      &::before
        transform: translateY(-50%) rotate(90deg)

.brand-block

  +mw(600)
    border: none

    flex-wrap: wrap
    max-height: 0
    overflow: hidden

    &--active
      height: auto
      max-height: 240px
      border: 1px solid #e0e3ee
      border-top: none
