- const anonymous = true

section.anonymous.container
  h2.anonymous__title
  .anonymous__inner
    .anonymous__picture
      figure.anonymous__img-wrap
        +img-retina(`hat`, `png`, `Напишите нам ананимно`, `anonymous__img`, `488`, `254`)
    p.anonymous__text.size-3 Есть предложения<br> по улучшению качества работы или Вы просто чем-то недовольны
    .anonymous__cont
      p.anonymous__cont-text.size-1 Напишите нам об этом - это ананимно
      a.anonymous__link(href="#modal-anonymous" rel="modal:open")
        span.anonymous__link-text.size-1 Написать анонимно
        +svg(`arr`, 20, `#B0B3C6`)
