footer.page-footer
  .page-footer__inner
    p.page-footer__copy © Первая Автоколонна
    p.page-footer__portal Внутренний портал для сотрудников
    a.page-footer__anonim-link.hover-opacity(href="#") Написать анонимно
