-const link = [[`О компании`, `about`], [`Новости`, `news`], [`Дни рождения`, `bithday`], [`Библиотека`, `library`], [`Документы`, `documents`]]

header.page-header
  .page-header__box
    a.page-header__logo(href="/index.html")
      +img-svg(`logo`, `page-header__logo-img`, `Логотип компании`, `165`, `30`)
    nav.page-header__nav.header-nav
      ul.header-nav__list
        each val, i in link
          li.header-nav__item
            a.header-nav__link.size-2.hover-opacity(href=`${val[1]}` class=(active===i+1 ? `header-nav__link--active` : ``))= val[0]
