section.modal-anonymous.modal-thanks.modal#modal-thanks
  .modal-thanks__inner

    .modal__box
      h2.modal-thanks__title.size-4 Спасибо!<br> Ваше сообщение отправлено
      p.modal-thanks__text Мы обязательно учтем ваше пожелание
    

    
