- const header_nav = [`О компании`,  `Новости`, `Дни рождения`, `Библиотека`, `Галерея`]

-const links = new Map([[`О компании`, `about`], [`Новости`, `news`], [`Дни рождения`, `bithday`], [`Библиотека`, `library`], [`Документы`, `documents`], [`Главная`, `index`], [`История компании`, `about`], [`Структура компании`, `structure`], [`Галерея`, `gallery`], [`Лучшие сотрудники`, `best`]])

- const asideArr  = new Map([[`about`, [`О компании`, `История компании`, `Структура компании`, `Документы`, `Лучшие сотрудники`]]])

- const breadcrumbsArr = new Map([[`about`, [`Главная`, `О компании`, `История компании`]], [`structure`, [`Главная`, `О компании`, `Структура компании`]]])

-const iconsArr = new Map([[`О компании`, ``], [`История компании`, `port`], [`Структура компании`, `struk`], [`Документы`, `doc`], [`Лучшие сотрудники`, `best`]])

-const main_tabs = [`jaguar`, `land-rover`, `ford`, `mazda`, `volvo`, `merseded`, `porsche`]
-const sub_tabs = [[`Отдел продаж`, `sales`], [`Отдел маркетинга`, `marketing`], [`Отдел технического обслуживания`, `service`], [`Отдел подбора персонала`, `staff`]]

- let activeTile = ``
