- const header_nav = [`О компании`,  `Новости`, `Дни рождения`, `Библиотека`, `Документы`]

-const links = new Map([[`О компании`, `about`], [`Новости`, `news`], [`Дни рождения`, `bithday`], [`Библиотека`, `library`], [`Документы`, `documents`], [`Главная`, `index`], [`История компании`, `history`], [`Структура компании`, `structure`]])

- const asideArr  = new Map([[`about`, [`О компании`, `История компании`, `Структура компании`, `Документы`, `Лучшие сотрудники`]]])

- const breadcrumbsArr = new Map([[`about`, [`Главная`, `О компании`, `История компании`]]])

-const iconsArr = new Map([[`О компании`, ``], [`История компании`, `port`], [`Структура компании`, `struk`], [`Документы`, `doc`], [`Лучшие сотрудники`, `best`]])

- let activeTile = ``
