extends ../templates/_main.pug
include ../helpers/mixins.pug



  block link-active
    //- -const active = 1;
    -const active = `about`;


block content

  include ../modules/_breadcrumbs

  section.history.mb120
    .promo__inner.container
      h1.history__title.title.size-4= asideArr.get(active)[1]
      .history__col-wrap.column-wrap
        .history__col.column-left
          figure.history__img-wrap
            +img-retina(`history-bg`, `jpg`, `История компании`, `history__img`, `680`, `412`)

          .history__content
            .history__text.size-2 Основная цель корпоратива – повысить мотивацию и лояльность сотрудников к компании, улучшить эмоциональную составляющую среди работников.
            .history__text.size-2.history__text--title Основная цель корпоратива – повысить мотивацию и лояльность сотрудников к компании, улучшить эмоциональную составляющую среди работников.
            .history__text.size-2 «Так как креативность мы считаем базовой компетенцией PR-специалиста, то мы стараемся планировать необычные корпоративы. Просто корпоратив в стиле «посидеть в кафе» – не наш формат.
            .history__text.size-2 В основе всегда для нас смысл и идея. Мы называем это концепцией. Это может быть что угодно: от новогоднего «вечерника» в бывшем пионерском лагере до квеста по городу с катанием на лошадях и дискобатлом. Долгое время мы в концепт укладывали капустники, организованные сотрудниками компании с подготовкой сценариев, костюмов, репетициями.
            .history__text.size-2 Здесь хорошо включались как соревновательный дух так и традиции командообразования. Сейчас капустники ушли, но в новогоднее, как и в любое другое наше корпоративное мероприятие мы обязательно закладываем элементы тимбилдинга. Это позволяет сплотить людей, подружиться, ввести новых сотрудников.
            .history__text.size-2 Есть и еще один нюанс. За организацию новогоднего корпоратива у нас всегда отвечает новый сотрудник компании. Обычно это человек в статусе ассистента PR-менеджера. На этом мероприятии он учится планировать эвенты, договариваться и контролировать подрядчиков, вести учет финансов и пр.
            .history__text.size-2 Таким образом, мы получаем не только сплочение коллектива и позитивные эмоции от новогоднего праздника, но и обученного сотрудника, которого мы уже в дальнейшем сможем начать привлекать к более сложным проектам»
            .history__text.size-2.history__text--title Татьяна Попова - директор по персоналу логистической компании «ДАКСЕР»
            .history__text.size-2 «Новогодний корпоратив – это наше традиционное мероприятие, которое будет проводиться вот уже 11-й раз. Сотрудники очень ждут этого события, поскольку для некоторых из них – это единственная возможность лично встретиться и познакомиться друг с другом, посмотреть, как изменились коллеги, а также лично пообщаться на многие темы.
            .history__text.size-2 Формат мероприятия долгое время не менялся: мы выезжали на целый день за город в какой-нибудь чудесный дом отдыха или пансионат. Первая часть была спортивная и состояла из разных активностей: веревочный курс, Форт Боярд, надувные аттракционы, конкурсы на меткость, падения с вышки. Затем все собирались на праздничный новогодний ужин с развлекательной программой.
            .history__text.size-2 Сейчас мы немного изменили формат и стали проводить новогодний корпоратив в московских отелях. Но от этого праздник не стал тусклее. Очень приветствуются творческие номера и выступления наших сотрудников».

        .history__col.column-right
          - activeTile = `История компании`
          include ../modules/_tiles
