extends ../templates/_main.pug
include ../helpers/mixins.pug



block link-active
  //- -const active = 1;
  -const active = `about`;
  -active_header = `library`

block page-main
  -page_main = `middle`


block content

  include ../modules/_breadcrumbs

  section.library.mb120
    .library__inner.container.container--middle
      h1.library__title.title.size-4 Библиотека

      ul.library__list  
        -n = 0
        while n<9
          -n++
          li.library__item 
            a.library__book.book(href="/book.html")
              .book__inner
                figure.book__img-wrap
                  +img(`book`, `png`, `Наш именинник`, `book__img`, `130`, `200`)
              
              .book__cont

                p.book__section Научно-популярная литература
                h4.book__title.size-1 Sapiens. Краткая история человечества
                p.book__autor Харари Юваль Ной

              

      
        


  //- include ../modules/_anonymous.pug
