extends ../templates/_main.pug
include ../helpers/mixins.pug



  block link-active
    //- -const active = 1;
    -const active = `about`;
    -active_header = `news`


block content

  include ../modules/_breadcrumbs

  section.novelty.mb120
    .novelty__inner.container
      h1.novelty__title Новость подробнее
      .novelty__col-wrap.column-wrap
        .novelty__col.column-left
          .novelty__head 
            h2.novelty__title-head.title.size-4 Информация по новогоднему корпоративу. Где, когда и как будет проходить празднование?
            .novelty__service 
              p.novelty__section.size-0 Отдых
              p.novelty__date.size-0 01 декабря 2021 г.
            figure.novelty__img-wrap 
              +img-retina(`novelty`, `jpg`, `Новость`, `novelty__img`, `680`, `412`)
        
          .novelty__cont 
            .novelty__text.size-2 Основная цель корпоратива – повысить мотивацию и лояльность сотрудников к компании, улучшить эмоциональную составляющую среди работников.
            .novelty__text.size-2.novelty__text--title Основная цель корпоратива – повысить мотивацию и лояльность сотрудников к компании, улучшить эмоциональную составляющую среди работников.
            .novelty__text.size-2 «Так как креативность мы считаем базовой компетенцией PR-специалиста, то мы стараемся планировать необычные корпоративы. Просто корпоратив в стиле «посидеть в кафе» – не наш формат.
            .novelty__text.size-2 В основе всегда для нас смысл и идея. Мы называем это концепцией. Это может быть что угодно: от новогоднего «вечерника» в бывшем пионерском лагере до квеста по городу с катанием на лошадях и дискобатлом. Долгое время мы в концепт укладывали капустники, организованные сотрудниками компании с подготовкой сценариев, костюмов, репетициями.
            .novelty__text.size-2 Здесь хорошо включались как соревновательный дух так и традиции командообразования. Сейчас капустники ушли, но в новогоднее, как и в любое другое наше корпоративное мероприятие мы обязательно закладываем элементы тимбилдинга. Это позволяет сплотить людей, подружиться, ввести новых сотрудников.
            .novelty__text.size-2 Есть и еще один нюанс. За организацию новогоднего корпоратива у нас всегда отвечает новый сотрудник компании. Обычно это человек в статусе ассистента PR-менеджера. На этом мероприятии он учится планировать эвенты, договариваться и контролировать подрядчиков, вести учет финансов и пр.
            .novelty__text.size-2 Таким образом, мы получаем не только сплочение коллектива и позитивные эмоции от новогоднего праздника, но и обученного сотрудника, которого мы уже в дальнейшем сможем начать привлекать к более сложным проектам»
            .novelty__text.size-2.novelty__text--title Татьяна Попова - директор по персоналу логистической компании «ДАКСЕР»
            .novelty__text.size-2 «Новогодний корпоратив – это наше традиционное мероприятие, которое будет проводиться вот уже 11-й раз. Сотрудники очень ждут этого события, поскольку для некоторых из них – это единственная возможность лично встретиться и познакомиться друг с другом, посмотреть, как изменились коллеги, а также лично пообщаться на многие темы.
            .novelty__text.size-2 Формат мероприятия долгое время не менялся: мы выезжали на целый день за город в какой-нибудь чудесный дом отдыха или пансионат. Первая часть была спортивная и состояла из разных активностей: веревочный курс, Форт Боярд, надувные аттракционы, конкурсы на меткость, падения с вышки. Затем все собирались на праздничный новогодний ужин с развлекательной программой.
            .novelty__text.size-2 Сейчас мы немного изменили формат и стали проводить новогодний корпоратив в московских отелях. Но от этого праздник не стал тусклее. Очень приветствуются творческие номера и выступления наших сотрудников».

          


        .novelty__col.column-right.news-other
          h3.news-other__title.size-3 Другие новости компании 
          -n=0
          while n<3
            -n++
            ul.news-other__list   
              li.news-other__item 
                a.news-page__link.card.card--third(href="/news-one.html")
                  figure.card__img-wrap.card__img-wrap--other

                    picture
                      source(srcset="/img/webp/football.webp" type="image/webp")
                      img.card__img(src="/img/football.jpg" srcset="/img/football.jpg 1x, /img/football@2x.jpg 2x" loading="lazy" alt="праздник" width="330" height="260")

                  .card__content
                    h3.card__title.size-3 Наши футбольные команды заняли призовые места на короративном турнире
                    .card__info
                      p.card__category Спорт
                      p.card__date 10 июля 2021 г. 



  include ../modules/_anonymous.pug



  
            

        
